.navbar_Comp-nav a{
  font-size:18px;
}

.yourClassName {
  background-color:aliceblue; 
}
.heading-style {
  color:black; 
  font-size: 50px;
  font-style: italic;
  text-align: right; 
  margin-top: 20px;
  width: 600px; 
}
.h2-style {
  color:black; /* Replace 'your-color' with the desired color */
}


.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://img.freepik.com/premium-photo/young-caucasian-bearded-man-reading-book-kitchen-home-leisure_182615-1259.jpg?size=626&ext=jpg&ga=GA1.1.1194671720.1702461940&semt=ais");
  background-size: cover;
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}



/*-------------------------------------------*/

.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://img.freepik.com/premium-photo/stack-books-library-desk_23-2147845946.jpg?size=626&ext=jpg&ga=GA1.1.1194671720.1702461940&semt=sph");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}




/* App.css */

.blog-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  max-width: 800px;
  margin: auto;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.card img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}
.come-bg{
  background-attachment: red;
}

